[user]
	email = mark@kittyhawk.aero
	name = Mark Cutler
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	dd = difftool --dir-diff --no-symlinks
[diff]
	tool = bc3
[difftool "bc3"]
	trustExitCode = true
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
